
/* Style for a public "Working Draft" */

/*
   Adapted for Khronos from http://www.w3.org/StyleSheets/TR/W3C-WD.css by Chris Marrin (cmarrin@apple.com)
   
   Copyright 1997-2003 W3C (MIT, ERCIM, Keio). All Rights Reserved.
   The following software licensing rules apply:
   http://www.w3.org/Consortium/Legal/copyright-software */

/* $Id: base.css,v 1.25 2006/04/18 08:42:53 bbos Exp $ */

body {
  padding: 2em 1em 2em 70px;
  margin: 0;
  font-family: sans-serif;
  color: black;
  background: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
:link { color: #00C; background: transparent }
:visited { color: #609; background: transparent }
a:active { color: #C00; background: transparent }

a:link img, a:visited img { border-style: none } /* no border on img links */

table {
    border-width:1px;
    border-style:solid;
    border-spacing:2px;
    border-collapse:collapse;
    padding:3;
}

th, td { /* ns 4 */
    border-width:1px;
    border-style:solid;
   font-family: sans-serif;
   padding:4px;
   text-align:left;
}

th {
    color:#115511;
    border-bottom:3px solid;
    background-color:#CCEECC;
}

h1, h2 {
    margin-bottom: 0.15em;
}

h1, h2, h3, h4, h5, h6 { text-align: left }
/* background should be transparent, but WebTV has a bug */
h1, h2, h3 { color: #005A9C; background: white }
h1 { font: 170% sans-serif }
h2 { font: 140% sans-serif }
h3 { font: 120% sans-serif }
h4 { font: bold 100% sans-serif }
h5 { font: italic 100% sans-serif }
h6 { font: small-caps 100% sans-serif }

.hide { display: none }

.right {
    float: right;
}

div.head { margin-bottom: 1em }
div.head h1 { margin-top: 2em; clear: both }
div.head table { margin-left: 2em; margin-top: 2em }

div.nonnormative {
    color: green;
    margin-left: 2em; 
    padding: 0.5em 1em; 
    border: none; 
    background: #EEFFEE;
}

p.copyright { font-size: small }
p.copyright small { font-size: small }

@media screen {  /* hide from IE3 */
a[href]:hover { background: #ffa }
}

pre { margin-left: 2em }
/*
p {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
*/
dt, dd { margin-top: 0; margin-bottom: 0 } /* opera 3.50 */
dt { font-weight: bold }

pre, code { font-size: 1.2em; font-family: monospace; } /* navigator 4 requires this */

pre.idl {
  border: solid thin; 
  background: #EEEEEE; 
  color: black;
  padding: 0.5em 1em;
}

pre.idl :link, pre.idl :visited { color: inherit; background: transparent; }

dl.methods {
    color: green;
    margin: 2em 0 2em 2em; 
    padding: 0.5em 1em; 
    border: none; 
    background: #EEFFEE;
}

.idl-code {
  color:black;
  font-size: 125%;
  font-family: monospace;
  text-indent: -1.5em;
  margin-left: 1.5em;
}

p.idl-code {
  margin-top: 0.0em;
  margin-bottom: 0.0em;
}

a.gl-spec:link, a.gl-spec:visited {
  color: green;
  font-family: sans-serif;
  font-size: 60%;
  font-style:italic;
  font-weight:normal;
}

ul.toc, ol.toc {
  list-style: disc;		/* Mac NS has problem with 'none' */
  list-style: none;
}

body {
  background-image: url(logo-WD.png);
}

